.linha {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}
h2 {
  font-size: 20px;
}
.App {
  margin: auto;
  max-width: 900px;
}
.linha-dois {
  display: flex;
  justify-content: space-around;
  width: 100%;
}